@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html>
<head>
    <title>METANIT.COM</title>
    <meta charset="utf-8" />
</head>
<body>
<form method="post" action="Home/Index">
<p>
<label>Ім'я</label><br />
<input type="text" name="Name" />
</p>
<p>
<label>Вік</label><br />
<input type="number" name="Age" />
</p>
<p>
<input type="submit" value="Надіслати" />
</p>
</form>
</body>
</html>